body{
    margin: 1.5em 1.5em;
    font-family: 'poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
.hero-img{
    background: url("../images/pancake-with-orange.jpg");
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    z-index: -5;
    margin-left: -150px;
    opacity: .85;
    margin-top: 50px;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;

   /* .circle{
        background-image: linear-gradient(to right bottom, blue,rgb(197, 28, 57));  
        width: 73px;
        height: 73px;
        border-radius: 50%;
        position: absolute;
        z-index: -3;
        margin-left: -23px;
        margin-top: -12px;
    }*/

    .logo{
        font-size: 1.8rem;
        font-weight: bold;
        color: 	#0047AB;
        span{
            color: 	#0047AB;
        }
    }

    .menu{
        width: 2em;
        cursor: pointer;
    }

    nav{
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgb(106, 120, 126);
        width: 35%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 800ms;
        z-index: 5;
        
        .close{
            width: 2.5em;
            float: right;
            padding: 1.5em;
            cursor: pointer;
        }

        ul{
            margin-top: 100px;
            list-style: none;
            padding: .5em;
            

            a{
                color: black;
                font-size: 1.6rem;
                padding: .5em 1em;
                display: block;
                border-radius: 2em;

                &:hover{
                    background: white;
                }
            }
        }
    }
}

.hero{
    display: grid;
    place-items: center;
    margin-top: 20px;

    .top-subhead{
        opacity: .99;
        font-size: 1.1rem;
    }

    h1{
        margin-top: -1px;
        font-size: 2rem;
    }

    .order{
        background: palevioletred;
        padding: .9em 1.5em;
        border-radius: 2em;
        box-shadow: 2px 3px 3px rgb(54, 125, 128);
        width: 60px;
        color: black;
        margin-left: 190px;
        font-size: 1rem;
        font-weight: 550;
        margin-top: -1px;
        animation: bouncyorder 1s alternate-reverse infinite;

        &:hover{
            color: white ;
        }
    }
    .trading-days{
        margin-bottom: -40px;
        margin-right: 210px;
        font-size: 1.2rem;
    }
    .checkmark{
        display: flex;
        margin-top: 35px;
        padding: 1em;
        border-radius: 1em;
        gap: 40px;
        box-shadow: 5px 5px 5px black;
        border: 2px solid rgb(19, 34, 99);
        

        .check{
            width: 5px;
        }

        p{
            font-size: 1.2rem;
            margin-top: 8px;
            font-weight: bold;
        }
    }
}

.images{
    display: flex;
    width: 50%;
    gap: 1em;
   // margin-left: 30px;
  //  position: relative;
   
    
    p{
        font-size: 1.19rem;
       // width: 70%;
    }
 

    .filled-pancake{
        background: url('../images/pancake-with-orange.jpg');
        height: 200px;
        width: 200px;
        background-size: cover;
        border-radius: 1em;
        border: .9px solid rgb(141, 138, 138);
        

        
    }

    .sweet-pancake{
        background: url('../images/pancake-with-fork-in.jpg');
        height: 200px;
        width: 200px;
        background-size: cover;
        border-radius: 1em;
        background-size: translateY(-1000px);
        

    }
}

.container{
    display: grid;
    place-items: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    width: 80%;
    background: rgb(63, 156, 231);
    border-radius: 1em;

    h3{
        color: wheat ;
        font-weight: bold;
        margin-bottom: 25px;
        font-size: 2rem;
    }

    input{
        border: 0;
        margin: 10px 0;
        padding: 1em;
        outline: none;
        background: #f5f5f5;
        font-size: 1.1rem;
        border-radius: .5em;
    }

    button{
        padding: 15px;
        background: rebeccapurple;
        border-radius: 2em;
        font-size: 1.1rem;
        outline: none;
        border: 0;
        cursor: pointer;
        width: 150px;
        margin: 20px auto 0;

    }

    
}

.whatsapp{
    display: grid;
    place-items: center;
    background-image:linear-gradient(to bottom right,rgb(63, 156, 231),rgb(22, 216, 22)) ;
    border-radius: 2em;
    padding: 1em 1em;
   
    width: 80%;
    color: wheat;
}

.gratitude{
    background: rgb(241, 204, 135);
    width: 100%;
    padding: .5em 1.2em;
    margin-top: 20px;
    font-size: 1.1rem;
    border-radius: .5em;
    p{
        opacity: .9;
    }
}

.open-nav{
    transform: translateX(0%);
}

@media only screen and (min-width:580px){
    .images{
        margin-left: 60px;
        gap: 5em;
    }
}

@media only screen and (min-width:750px){
    .images{
        margin-left: 100px;
        gap: 9em;
    }
}

@media only screen and (min-width:900px){
    body{
        margin: 1.5em 3em;
    }
    .contact{
        &:hover{
            color: beige;
        }
    }
    header{
        .menu{
            display: none;
        }

        .close{
            display: none;
        }

        nav{
                position: unset;
                transform: translateX(0%);
                display: block;
                width: auto;
                height: auto;
                background: none;
                
            ul{
                margin: 0;
                display: flex;

                    a{
                        &:hover{
                            background: none;
                        }
                    }
                }
        }
    }
}

@media only screen and (min-width:1000px){
    .images{
        margin-left: 160px;
        gap: 9em;
    }

   
}


@media only screen and (min-width:1000px){
    body{
        margin: 1em 6em;
    }

    .container{
        width: 70%;
        margin-left: 200px;
    }

    .circle1{
        background-image: linear-gradient(to right bottom, blue,rgb(197, 28, 57));  
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        margin-left: 960px;
        margin-top: -20px;
        
    }
    .circle2{
        background-image: linear-gradient(to right bottom, blue,rgb(197, 28, 57));  
        width: 350px;
        height: 350px;
        border-radius: 50%;
        position: absolute;
        margin-left: 600px;
        margin-top: 150px;
        transition: transform 800ms;
      
    }
    .circle3{
        background-image: linear-gradient(to right bottom, blue,rgb(197, 28, 57));  
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: absolute;
        margin-left: -900px;
        margin-top: 390px;
        animation: bouncyCircle 1s alternate-reverse infinite;
    }

    .check-info{
        position: relative;
    }
    .check-info:before{
        position: absolute;
        content: "";
        background: url("../svg/tag.svg") no-repeat;
        width: 100%;
        height: 100%;
        top: -130px;
        left: -210px;
        pointer-events: none;
    } 
}    



@keyframes bouncyCircle {
    from{
        transform: translateY(-30px);
    }

    to{
        transform: translateY(0px);
    }

}

@keyframes bouncyorder {
    from{
        transform: translatey(-5px);
    }

    to{
        transform: translateY(5px);
    }
}

.circle2:hover{
    transform: translateY(-20px);
}
/*Host : "smtp.gmail.com",
Username : "vollenhovencraig1@gmail.com",
Password : "physicist",*/